body{
    background-color: rgb(100, 136, 184);
    color: white;
}
.box{
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    border: 2px solid white;
    width: 100%;
    background-color:rgb(7, 85, 121)
}

#weathercon i{
    font-size: 55px;
    margin-top: 65px;
}

.info{
    margin-top: 85px;
}